*,
* .top-flip,
* .bottom-flip {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  user-select: none;
}
body {
  background-image: url(../public/assets/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #de4848; */
  color: #f7f7f7;
  margin: 0;
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}
.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}
.top,
.flip-card .top-flip {
  background-color: #303030;
  border-radius: 0.1em 0.1em 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom,
.flip-card .bottom-flip {
  background-color: #202020;
  display: flex;
  align-items: flex-end;
  border-radius: 0 0 0.1em 0.1em;
}

.flip-card .top-flip {
  position: absolute;
  text-align: center;
  /* background-color: aquamarine; */
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}
.flip-card .bottom-flip {
  position: absolute;
  text-align: center;
  /* background-color: aqua; */
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  bottom: 0;
  transform: rotateX(90deg);
}
@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-segment {
  display: flex;
  gap: 0.1em;
  position: relative;
}
.label {
  font-size: 0.25em;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.setting {
  position: fixed;
  width: 3vw;
  height: 3vw;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: 0.5s;
}
.setting img {
  width: 2.7vw;
  top: 0.1vw;
  left: 0.2vw;
  position: absolute;
}
.ddl {
  width: 0vw;
  height: 2vw;
  border: 0;
  outline: none;
  padding: 0;
  top: 0.5vw;
  background-color: #202020;
  text-align: center;
  color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.5rem;
  position: absolute;
  left: 3.2vw;
  transition: 0.5s;
}
.setting:hover {
  width: 15vw;
}
.setting:hover .ddl {
  width: 11.3vw;
}
